.todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    width: 100%;
    max-width: 500px;
    background-color: lightyellow;
}

form {
    display: flex;
}

.section {
    background-color: lightblue;
}

.todo-name {
    flex-grow: 1;
}

.section {
    font-size: 1.5em;
    font-weight: bold;
}

ul { padding: 15px; }

li {
    list-style: none;
    display: flex;
}

li span { flex-grow: 1 }
li input { min-width: 20px; min-height: 20px; padding: 10px; }
li button { background-color: lightcoral; border-style: none; }